@page
@model LoginModel

@*@{
    ViewData["Title"] = "Log in";
}
*@
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div>
            <section class="vh-100">
              <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="http://orienteeringmaps.net/blog/wp-content/uploads/2010/03/sample2_big1.gif"
                      class="img-fluid" alt="Sample image">
                  </div>
                  <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                      <form id="account" method="post">
                        <h2>Log In</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Email input -->
                          <div class="form-outline mb-4">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                          </div>

                          <!-- Password input -->
                          <div class="form-outline mb-3">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                          </div>

                          <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                              <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                          </div>

                          <div class="text-center text-lg-start mt-4 pt-2">
                              <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
