<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OMedia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">O-Media</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light menu" asp-area="" asp-controller="News" asp-action="All">All News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light menu" asp-area="" asp-controller="Competition" asp-action="All">All Competitions</a>
                        </li>
                         <li class="nav-item">
                                <a class="nav-link text-light menu" asp-area="" asp-controller="News" asp-action="Add">Teams</a>
                            </li>
                        
                        @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light menu" asp-area="" asp-controller="News" asp-action="Add">My Competitions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light menu" asp-area="" asp-controller="News" asp-action="Add">Add News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light menu" asp-area="" asp-controller="Competition" asp-action="Add">Add Competition</a>
                            </li>
                        }
                    </ul>
                     @* <form class="form-inline">
                           <div>
                               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                               <button class="btn btn-outline-success my-2 my-sm-0" >Search</button>
                           </div>
                      </form>*@
                      @*<div class="input-group">
                               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                               <button class="btn btn-outline-success my-2 my-sm-0" >Search</button>

                    </div>*@
                    <partial name="_LoginPartial" />

            
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - OMedia
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
