.menu {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}

.menu:hover {
    background-color: #808080;
    padding: 15px 10px;
}
